<!DOCTYPE html>
	<html dir="ltr" lang="en-US">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_PATH }}/css/style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_PATH }}/css/sf_menu.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_PATH }}/css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_PATH }}/css/flexslider.css" />
	<link rel='stylesheet' type='text/css' media='all'  href='{{ ASSET_PATH }}/js/lightbox/themes/default/jquery.lightbox.css?ver=3.3.1' />		

	<!-- Javascripts -->
	<script type='text/javascript' src='{{ ASSET_PATH }}/js/jquery-1.7.1.min.js'></script>
	<script type='text/javascript' src='{{ ASSET_PATH }}/js/jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='{{ ASSET_PATH }}/js/superfish.js'></script>
	<script type='text/javascript' src='{{ ASSET_PATH }}/js/hoverIntent.js'></script>
	<script type='text/javascript' src='{{ ASSET_PATH }}/js/jquery.tools.min.js'></script>
	<script type='text/javascript' src='{{ ASSET_PATH }}/js/jquery.preloadify.min.js'></script>
	<script type='text/javascript' src="{{ ASSET_PATH }}/js/jquery.mobilemenu.js"></script>
	<script type='text/javascript' src='{{ ASSET_PATH }}/js/lightbox/jquery.lightbox.js?ver=3.3.1'></script>		
	<script type="text/javascript" src="{{ ASSET_PATH }}/js/sys_custom.js"></script>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> 
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> 
	
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="js/html5.js"></script>
	<![endif]-->

	<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie.css" />
	<![endif]-->
	
	</head>
	<body>
	<div id="boxed" class="fullwidth">
	
		<div id="wrapper">

			<section id="topbar">
				<div class="inner">
				
					<div class="topleft">
						<ul class="links">
							<li><a href="#">Live Suppport</a></li>
							<li><a href="#">Quick Contact</a></li>
						</ul>
					</div>
					<!-- .topleft -->
					
					<div class="topright">
				
						<form action="#" id="topbar_login">
							<div class="field">
							  <input type="text" value="Login" onFocus="if(this.value=='Login'){this.value=''}" onBlur="if(this.value==''){this.value='Login'}">
							</div>
							<div class="field">
							  <input type="password" value="Password" onFocus="if(this.value=='Password'){this.value=''}" onBlur="if(this.value==''){this.value='Password'}">
							</div>
							<div class="field">
							<button type="submit" class="button small blue" value="Login"><span>Login</span></button>
							</div>
						</form>
					
					</div>
					<!-- .topright -->
				
				</div>
			</section>
			<!-- .topbar -->
			
			<header id="header">
				<div class="inner">
					
					<div class="logo">
						<a href="{{ HOME_PATH }}"><img src="/assets/JAGAcademyH80.png" alt="JagAcademy Logo" /></a>			
					</div>
					<!-- logo -->
					
					<div class="menu">
						<ul class="sf-menu">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
						</ul>
						<!-- end:sf-menu -->
					</div>
					<!-- menu -->
			
				</div>
			</header>
			<!-- header -->
			<div id="featured_slider">
			<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.flexslider-min.js"></script>
			<script type="text/javascript" charset="utf-8">
			  $(window).load(function() {
				$('.flexslider').flexslider({
				  animation: "fade",				//String: Select your animation type, "fade" or "slide"
				  controlsContainer: ".flex-container",
				  slideshow: true,					//Boolean: Animate slider automatically
				  slideshowSpeed: 3000,				//Integer: Set the speed of the slideshow cycling, in milliseconds
				  animationDuration: 1200,			//Integer: Set the speed of animations, in milliseconds
				  directionNav: false,				//Boolean: Create navigation for previous/next navigation? (true/false)
				  controlNav: true,					//Boolean: Create navigation for paging control of each clide? Note: Leave true for	
				  mousewheel: true,					//Boolean: Allow slider navigating via mousewheel				  
				  start: function(slider) {
					$('.total-slides').text(slider.count);
				  },
				  after: function(slider) {
					$('.current-slide').text(slider.currentSlide);
				  }
				});
			  });
			</script>	
				<div class="slider_wrapper">
			
					<div class="flexslider">
						<ul class="slides">
							<li>
								<img src="{{ ASSET_PATH }}/images/slider_img1.jpg" />
								<div class="flex-caption">
									<div class="flex-title">Escuela Taller</div>
									La escuela "manos a la obra" de desarrollo de software.
								</div>
							</li>
							<li>
								<a href="#"><img src="{{ ASSET_PATH }}/images/slider_img2.jpg"  /></a>
								<div class="flex-caption">
									<div class="flex-title"></div>
									La escuela "manos a la obra" de desarrollo de software.
								</div>
							</li>
							<li>
								<img src="{{ ASSET_PATH }}/images/slider_img3.jpg"  />
								<div class="flex-caption">
									<div class="flex-title">C&oacute;mo</div>
									Enfocados (1 materia por mes) <br />
									Aprendiendo de mentores experimentados<br />
									Proyectos reales
								</div>
							</li>
							<li>
								<img src="{{ ASSET_PATH }}/images/slider_img4.jpg"  />
								<div class="flex-caption">
									<div class="flex-title">Qu&eacute; es?</div>
									12 meses en  Zacatecas Mexico.
								</div>		
							</li>
						</ul>
					</div>

				</div>
				<!-- .slider_wrapper -->
			</div>
			<!-- #featured_slider -->	
		
			<section class="pagemid">
				<div class="inner">
					
					<div id="main">
						<div class="entry-content">
				
							<div class="one_half">
        {{ content }}
							  
								<h1>Responsive HTML5 Template for Corporate, Portfolio and Business Sites.</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra lobortis libero non mollis. Mauris ullamcorper fringilla consectetur. Phasellus augue nisi, dictum sit amet aliquam sit amet, ullamcorper nec lectus. Phasellus vitae posuere ligula. Nam hendrerit nisi augue,</p>
								<p>Aliquam et nisi id sapien molestie placerat et ut neque. Morbi interdum, lacus vel consectetur commodo, enim elit venenatis nulla, in laoreet neque sapien id justo. Quisque sollicitudin ultrices sapien et placerat. Aenean eget mi velit. </p>
								
								<div class="divider_line"></div>							
								<h3>Why Choose Coden Services</h3>
								<ul class="list-check green">
									<li>Duis ac enim orci, id condimentum tellus.</li>
									<li>Cras convallis rhoncus eros, a blandit libero malesuada at.</li>
									<li>Sed eleifend tellus vel velit congue non vulputate risus ullamcorper.</li>
									<li>Integer laoreet neque in orci dapibus quis tincidunt dui viverra.</li>
									<li>Pellentesque vel est sed dui commodo rutrum.</li>
									<li>Download the <a href="#" class="icon-pdf red">PDF Documentation</a>.</li>
									<li>Aenean eleifend velit mi, nec suscipit nibh.</li>
								</ul>
							</div>
							<!-- .one_half -->
							<div class="one_half last">

								<div class="one_half">
									<h5>Incredible Features</h5>
									<figure><img src="images/demopic.png" alt="" /></figure> 
									<p>Aliquam et nisi id sapien molestie placerat et ut neque. Morbi interdum, lacus vel consectetur commodo lorem
									<a href="#" class="more-link">more...</a></p>
								</div>
								
								<div class="one_half last">
									<h5>Changable Colorscheme</h5>
									<figure><img src="images/demopic.png" alt="" /></figure>
									<p>Aliquam et nisi id sapien molestie placerat et ut neque. Morbi interdum, lacus vel consectetur commodo lorem
									<a href="#" class="more-link">more...</a></p>
								</div>
								
								<div class="divider_space"></div>
								
								<div class="one_half">
									<h5>Creative Templates</h5>
									<figure><img src="images/demopic.png" alt="" /></figure> 
									<p>Aliquam et nisi id sapien molestie placerat et ut neque. Morbi interdum, lacus vel consectetur commodo lorem
									<a href="#" class="more-link">more...</a></p>
								</div>
								
								<div class="one_half last">
									<h5>Multipurpose Template</h5>
									<figure><img src="images/demopic.png" alt="" /></figure> 
									<p>Aliquam et nisi id sapien molestie placerat et ut neque. Morbi interdum, lacus vel consectetur commodo lorem
									<a href="#" class="more-link">more...</a></p>
								</div>			
							
							</div>
							<!-- .one_half -->
							
						</div>
						<!-- .content -->
					</div>
			
				</div>
				<!-- .inner -->
			</section>
			<!-- .pagemid -->
		
			<footer id="footer">
									
				<div class="inner">
					
					<div class="one_sixth">
						<div class="footer_left">
							<div class="syswidget widget_text">
								<img src="images/footer_logo.png" alt="logo" class="bottom20" />
								<p>&copy; Copyright 2000-2012 All Rights Reserved</p>
								<p>Designed &amp; Developed by <a href="#">aivahthemes.com</a></p>
							</div>
						</div>
					</div>
					<!-- .footer_left -->
						
					<div class="four_sixth">	
						
						<div class="one_fourth">
							<div class="syswidget">

								<h3 class="widget-title">Blogroll <span></span></h3>			
								<ul>
									<li><a href="#">Documentation</a></li>
									<li><a href="#">Pluggins</a></li>
									<li><a href="#">Themes</a></li>
									<li><a href="#">Wordpress Support</a></li>
									<li><a href="#">Support Forum</a></li>
									<li><a href="#">wordpress Tutes</a></li>																		
								</ul>

							</div>
						</div>
						
						<div class="one_fourth">
							<div class="syswidget">

								<h3 class="widget-title">Meta <span></span></h3>			
								<ul>
									<li><a href="#">Wordpress.org</a></li>
									<li><a href="#">Entries RSS</a></li>
									<li><a href="#">Comments RSS</a></li>																	
								</ul>

							</div>
						</div>
						
						<div class="one_fourth">
							<div class="syswidget">

								<h3 class="widget-title">Topics <span></span></h3>			
								<ul>
									<li><a href="#">Wordpress Support</a></li>
									<li><a href="#">Support Forum</a></li>
									<li><a href="#">wordpress Tutes</a></li>																		
								</ul>

							</div>
						</div>
						
						<div class="one_fourth last">
							<div class="syswidget">

								<h3 class="widget-title">Contact Us <span></span></h3>			
								<ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact US</a></li>																	
								</ul>

							</div>
						</div>
					
					</div>
					<!-- .footer_center -->

					<div class="one_sixth last">
						<div class="footer_right">
							<div class="syswidget widget_text">
								<p>Follow us on social network</p>
								<ul>
									<li><a href="#">Twitter</li>
									<li><a href="#">Facebook</li>
									<li><a href="#">RSS</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- .footer_right -->
				</div>
				<!-- .inner -->
			
			</footer>
			<!-- .footer -->		
		
		</div><!-- .wrapper -->
	
	</div><!-- #boxed -->
	</body>
	</html>
