			<section id="subheader">
				<div class="inner">
					<div class="subtitle">
						<h1>{{ page.title }}</h1>
					</div>
					{% if page.tagline %} 
					<div class="subdesc">
						<p>{{ page.tagline }}</p>
					</div>
					{% endif %}
				</div>
			</section>
			<!-- #subheader -->

			<section class="pagemid">
				<div class="inner">
					
					<div id="main">
						<div class="entry-content">
    {{ content }}

							<h1>About the company details.</h1>
							<p>Suspendisse sit amet tellus ipsum. In semper ipsum vitae enim porta iaculis. Praesent nec dolor dolor. Mauris laoreet euismod velit id dignissim. Fusce semper elit cursus nulla ornare imperdiet. Suspendisse vulputate, nulla nec condimentum pharetra, purus libero volutpat justo, ut fringilla nisi justo sed leo. Vivamus malesuada auctor est et mollis. Ut nec dignissim magna. In hac habitasse platea dictumst.</p>
							
							<div class="divider_line"></div>						
							
							<h3>Team Specialities</h3>
							<p>Donec sagittis diam et tellus rutrum cursus. Nulla facilisi. Mauris nec lacus risus. Aliquam condimentum ligula in quam elementum convallis elementum orci facilisis. Vestibulum pellentesque, lacus quis egestas sodales, urna ante adipiscing dui Quisque magna eros, lobortis et gravida a, viverra in diam. 
							<ul>
								<li>Morbi sodales mattis augue, sit commodo auctor sit amet.</li>
								<li>Vivamus pretium elit sed enim scelerisque tempor adipiscing.</li>
								<li>Sed congue enim elementum enim condimentum ligula.</li>
								<li>Pellentesque sit amet ante urna, vitae faucibus sem.</li>
								<li>Nunc quis mi augue, ac iaculis lacus.</li>
							</ul>
	
							<div class="divider_line"></div>					
							
							<h3>Team Members</h3>
							<p>List of our staff which are professionals and developers in lorem ipsum</p>
							
							<div class="one_half">
								<div class="teamMember">
									<img src="images/author_1.jpg" alt="img" class="vcard" />
									<div class="info">
										<h5>Jeffrey Way</h5> 
										<p><strong>CodeCanyon</strong></p>
										<p>Pellentesque risus lacus Pellentesque sit amet ante urna vitae faucibus sem molestie a pretium</p>
										<span class="icon-mail">yourname@email.com</span>
										<span class="icon-phone">(002) + 1234 - 56 - 789</span>
									</div>
								</div>
							</div>
							
							<div class="one_half last">
								<div class="teamMember">
									<img src="images/author_2.jpg" alt="img" class="vcard" />
									<div class="info">									
									<h5>Collis Ta'eed</h5> 
									<p><strong>CEO / Founder</strong></p>
									<p>Pellentesque risus lacus molestie a pretium Curabitur nec mi augue, dictum accumsan augue</p>
									<span class="icon-mail">yourmail@domain.com</span>
									<span class="icon-phone">(002) + 1234 - 56 - 789</span>
									</div>
								</div>

							</div>			
					
						</div>
						<!-- .entry-content -->
					</div>
					<!-- #main -->

